@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
html {
    height: 100vh;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #303247;
    line-height: 1.2;
    background-color: #FFFFFF;
}
section {
    position: relative;
    overflow: visible;
    width: 100%;
}

p {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
    margin: 0;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}

